/* 

color: #141414;
color: #ffffff;
color: #272727;
color: #a9a9a9;
hover: #ff5555
 */
@font-face {
    font-family: "Neue Machina";
    src: url(./fonts/PPNeueMachina-InktrapVariable.woff);
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
 html, body {
 width: 100%;
 height: 100%;
 font-family: "Neue Machina";
 background: #141414;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    height: 70px;
    background: transparent;
    color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 100%;
    width: 100%;
}

header ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    color: #ffffff; 
}
header ul li a {
    color: #ffffff;  
    text-decoration: none;
    cursor: pointer;
}
header>h2 {
    cursor: pointer;
    font-weight: 300;
}
#main {
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
}

#page {
    width: 100%;
    min-height: 100vh;
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    
}
#page .creative {
    position: absolute;
    top: 250px;
    left: 30px;
}
#page h1 {
    font-size: 7.2vw;
    font-weight: 300;
}

#page .top {
  padding-right: 100px;
}
#page .bottom {
    padding-left: 60px;
    font-style: italic;
    font-family: "Neue Machina";
    font-weight: 200;
}

#page .botP {
    position: absolute;
    top: 510px;
    right: 190px;
    font-size: 18px;
    font-family: "Neue Machina";
    font-weight: 100;
    
}
#page .arrow {
    position: absolute;
    top: 250px;
    right: 30px;
    width: 50px;
    height: 50px;
}

#page .scroll {
    position: absolute;
    top: 640px;
    left: 48%;
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    border-radius: 50px;
}